@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Ovo&display=swap');
@import "tailwindcss";


@theme {
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

*{
  font-family: Outfit;
}