@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Ovo&display=swap');



@theme {
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
}

*{
  font-family: Outfit;
}